@* @await Component.InvokeAsync("Carousel")
@await Component.InvokeAsync("Search") *@

<!-- hero slider -->
<div class="hero-section hero-slider owl-carousel owl-theme">
    <div class="hero-single" style="background-image: url(/assets/img/slider/banner2.jpg)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-7">
                    <div class="hero-content">
                        <h6 class="hero-sub-title wow animate__animated animate__fadeInUp"
                            data-wow-duration="1s" data-wow-delay=".25s">
                            Explore Your Travel
                        </h6>
                        <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                            data-wow-delay=".50s">
                            Travelling Around The World
                        </h1>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                           data-wow-delay=".75s">
                            There are many variations of passages available but the majority have suffered
                            alteration in some form by injected humour or randomised words.
                        </p>
                        <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                             data-wow-delay="1s">
                            <a href="contact.html" class="theme-btn">Contact Us <i class="far fa-arrow-right"></i></a>
                            <a href="about.html" class="theme-btn border-btn">About Us <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-single" style="background-image: url(/assets/img/slider/banner3.jpg)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-7">
                    <div class="hero-content">
                        <h6 class="hero-sub-title wow animate__animated animate__fadeInUp"
                            data-wow-duration="1s" data-wow-delay=".25s">
                            Explore Your Travel
                        </h6>
                        <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                            data-wow-delay=".50s">
                            Travelling Around The World
                        </h1>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                           data-wow-delay=".75s">
                            There are many variations of passages available but the majority have suffered
                            alteration in some form by injected humour or randomised words.
                        </p>
                        <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                             data-wow-delay="1s">
                            <a href="contact.html" class="theme-btn">Contact Us <i class="far fa-arrow-right"></i></a>
                            <a href="about.html" class="theme-btn border-btn">About Us <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-single" style="background-image: url(/assets/img/slider/banner1.jpg)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-7">
                    <div class="hero-content">
                        <h6 class="hero-sub-title wow animate__animated animate__fadeInUp"
                            data-wow-duration="1s" data-wow-delay=".25s">
                            Explore Your Travel
                        </h6>
                        <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                            data-wow-delay=".50s">
                            Travelling Around The World
                        </h1>
                        <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                           data-wow-delay=".75s">
                            There are many variations of passages available but the majority have suffered
                            alteration in some form by injected humour or randomised words.
                        </p>
                        <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                             data-wow-delay="1s">
                            <a href="contact.html" class="theme-btn">Contact Us <i class="far fa-arrow-right"></i></a>
                            <a href="about.html" class="theme-btn border-btn">About Us <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero slider end -->

<!-- Search bar start -->
@await Component.InvokeAsync("Search")
<!-- Search bar end -->

<!-- feature area -->
<div class="feature-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="feature-item">
                    <span class="feature-count">01</span>
                    <div class="feature-icon"><i class="fal fa-users-class"></i></div>
                    <div class="feature-info">
                        <h3 class="feature-title">5000+ Our Local Guides</h3>
                        <p>
                            Lorem ipsum dolor sit amet, contur selisica do mod tempor incidunt ut labet aliqua at
                            quis sit ipsum suspensse dolor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-item">
                    <span class="feature-count">02</span>
                    <div class="feature-icon"><i class="fal fa-badge-check"></i></div>
                    <div class="feature-info">
                        <h3 class="feature-title">100% Trusted Agency</h3>
                        <p>
                            Lorem ipsum dolor sit amet, contur selisica do mod tempor incidunt ut labet aliqua at
                            quis sit ipsum suspensse dolor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-item">
                    <span class="feature-count">03</span>
                    <div class="feature-icon"><i class="fal fa-hands-heart"></i></div>
                    <div class="feature-info">
                        <h3 class="feature-title">28+ Years of Experience</h3>
                        <p>
                            Lorem ipsum dolor sit amet, contur selisica do mod tempor incidunt ut labet aliqua at
                            quis sit ipsum suspensse dolor.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- feature area end -->

<!-- about area-->
@await Component.InvokeAsync("About");

