@model TourTravel.ViewModel.PrivacyPolicy
 <!-- privacy policy -->
<div class="pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col">
                @foreach(var item in Model.PrivacyPolicies)
                {
                    <div class="terms-content">
                        <h3>@item.Title</h3>
                        <p>
                            @Html.Raw(item.Description)
                        </p>
                    </div>
                }
              
               
            </div>
        </div>
    </div>
</div>
<!-- privacy policy end -->