@model TourTravel.Models.Blog
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Admin/Views/Shared/_Layout-common.cshtml";
}


<form asp-action="Create" enctype="multipart/form-data" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Author</label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Content</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Upload Image</label>
        <input type="file" name="imageUrl" class="form-control" accept="image/*" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
