<div class="destination-sidebar">
    <div class="widget">
        <h4 class="widget-title">All Category</h4>
        <div class="destination-category">
            <a href="#">Best Package</a>
            <a href="#">Discount Package</a>
            <a href="#">Low Price Package</a>
            <a href="#">High Price Package</a>
            <a href="#">Vip Package</a>
            <a href="#">Regular Package</a>
        </div>
    </div>
