 <!-- blog-area -->
@await Component.InvokeAsync("HeroSection")
<div class="blog-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-thumb">
                        <img src="assets/img/blog/1.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><i class="far fa-user"></i> Nancy Castdo</li>
                                <li><i class="far fa-calendar-alt"></i> 09 May, 2024</li>
                            </ul>
                        </div>
                        <h5>
                            <a href="#" class="blog-item-title">
                                There are many variations of passages
                                available
                            </a>
                        </h5>
                        <a class="blog-item-more" href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-thumb">
                        <img src="assets/img/blog/2.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><i class="far fa-user"></i> Nancy Castdo</li>
                                <li><i class="far fa-calendar-alt"></i> 09 May, 2024</li>
                            </ul>
                        </div>
                        <h5>
                            <a href="#" class="blog-item-title">
                                There are many variations of passages
                                available
                            </a>
                        </h5>
                        <a class="blog-item-more" href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-thumb">
                        <img src="assets/img/blog/3.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><i class="far fa-user"></i> Nancy Castdo</li>
                                <li><i class="far fa-calendar-alt"></i> 09 May, 2024</li>
                            </ul>
                        </div>
                        <h5>
                            <a href="#" class="blog-item-title">
                                There are many variations of passages
                                available
                            </a>
                        </h5>
                        <a class="blog-item-more" href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-thumb">
                        <img src="assets/img/blog/1.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><i class="far fa-user"></i> Nancy Castdo</li>
                                <li><i class="far fa-calendar-alt"></i> 09 May, 2024</li>
                            </ul>
                        </div>
                        <h5>
                            <a href="#" class="blog-item-title">
                                There are many variations of passages
                                available
                            </a>
                        </h5>
                        <a class="blog-item-more" href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-thumb">
                        <img src="assets/img/blog/2.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><i class="far fa-user"></i> Nancy Castdo</li>
                                <li><i class="far fa-calendar-alt"></i> 09 May, 2024</li>
                            </ul>
                        </div>
                        <h5>
                            <a href="#" class="blog-item-title">
                                There are many variations of passages
                                available
                            </a>
                        </h5>
                        <a class="blog-item-more" href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-item-thumb">
                        <img src="assets/img/blog/3.jpg" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><i class="far fa-user"></i> Nancy Castdo</li>
                                <li><i class="far fa-calendar-alt"></i> 09 May, 2024</li>
                            </ul>
                        </div>
                        <h5>
                            <a href="#" class="blog-item-title">
                                There are many variations of passages
                                available
                            </a>
                        </h5>
                        <a class="blog-item-more" href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- pagination -->
        <div class="pagination-area">
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><i class="far fa-arrow-left"></i></span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="far fa-arrow-right"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- blog-area end -->
