<!-- blog-area -->
@await Component.InvokeAsync("HeroSection")
@{
    // Get query values (with fallback defaults)
    var currentPage = ViewBag.CurrentPage ?? 1;
    var search = ViewBag.Search ?? "";
}

<div class="blog-area py-120">
    <div class="container">

        <!-- 🔍 Search box -->
        <div class="widget search m-1 ">
            <h5 class="widget-title">Search</h5>
            <form method="get" action="/Blog" class="search-form d-flex">
                <input type="text"
                       name="search"
                       value="@search"
                       class="form-control "
                       placeholder="Search here..." />
                <button type="submit" class="btn btn-primary ms-2">
                    <i class="far fa-search"></i>
                </button>   
            </form>
        </div>

        <!-- 📰 Blog List -->
        @await Component.InvokeAsync("Blog", new { showHeading = false, take = 6, search = search, currentPage = currentPage })


    </div>
</div>
<!-- blog-area end -->
