@model List<TourTravel.Models.DestinationViewModel>

@{
    bool showHeading = ViewData["ShowHeading"] as bool? ?? true;
}

<div class="destination-area pt-120">
    <div class="container">
        <div class="row">
            @if (showHeading)
            {
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Destinations</span>
                        <h2 class="site-title">Top Destinations</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            }
        </div>

        <div class="row align-items-center">
            @foreach (var dest in Model)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="destination-item">
                        <div class="destination-img">
                            <img src="@dest.DestinationImgUrl" alt="@dest.DestinationName" style="width:370px; height:360px;">
                        </div>
                        <div class="destination-info">
                            <h3>@dest.DestinationName</h3>
                            <span>Starting From ₹@dest.StartingPrice</span>
                        </div>
                        <a asp-controller="Destinations" asp-action="DestinationDetails" asp-route-id="@dest.Id" class="destination-btn">
                            <i class="far fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
