 <!-- destination area -->
@{
    bool showHeading = ViewData["ShowHeading"] as bool? ?? true;
}
<div class="destination-area pt-120">
    <div class="container">
        <div class="row">
            @if (showHeading)
            {
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Destinations</span>
                        <h2 class="site-title">Top Destinations</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-6">
                <div class="destination-item">
                    <div class="destination-img">
                        <img src="assets/img/destination/a.jpg" alt="">
                    </div>
                    <div class="destination-info">
                        <h3>New York</h3>
                        <span>Starting From $1500</span>
                    </div>
                    <a asp-controller="Destinations" asp-action="DestinationDetails" class="destination-btn"><i class="far fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="destination-item">
                    <div class="destination-img">
                        <img src="assets/img/destination/b.jpg" alt="">
                    </div>
                    <div class="destination-info">
                        <h3>Paris</h3>
                        <span>Starting From $1500</span>
                    </div>
                    <a asp-controller="Destinations" asp-action="DestinationDetails" class="destination-btn"><i class="far fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="destination-item">
                    <div class="destination-img">
                        <img src="assets/img/destination/c.jpg" alt="">
                    </div>
                    <div class="destination-info">
                        <h3>London</h3>
                        <span>Starting From $1500</span>
                    </div>
                    <a asp-controller="Destinations" asp-action="DestinationDetails" class="destination-btn"><i class="far fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="destination-item">
                    <div class="destination-img">
                        <img src="assets/img/destination/b.jpg" alt="">
                    </div>
                    <div class="destination-info">
                        <h3>Grand Cayon</h3>
                        <span>Starting From $1500</span>
                    </div>
                    <a asp-controller="Destinations" asp-action="DestinationDetails" class="destination-btn"><i class="far fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="destination-item">
                    <div class="destination-img">
                        <img src="assets/img/destination/c.jpg" alt="">
                    </div>
                    <div class="destination-info">
                        <h3>Sydney</h3>
                        <span>Starting From $1500</span>
                    </div>
                    <a asp-controller="Destinations" asp-action="DestinationDetails" class="destination-btn"><i class="far fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="destination-item">
                    <div class="destination-img">
                        <img src="assets/img/destination/a.jpg" alt="">
                    </div>
                    <div class="destination-info">
                        <h3>Glacier Park</h3>
                        <span>Starting From $1500</span>
                    </div>
                    <a asp-controller="Destinations" asp-action="DestinationDetails" class="destination-btn"><i class="far fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- destination area end -->