  <!-- tour area -->
@await Component.InvokeAsync("HeroSection")
        <div class="tour-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="tour-sidebar">
                            <!-- search area -->
                            <div class="search-area">
                                <div class="search-form-wrapper">
                                    <h4>Search Tours</h4>
                                    <form action="#">
                                        <div class="row align-items-end">
                                            <div class="col-12 search-input">
                                                <div class="form-group">
                                                    <label>Destination</label>
                                                    <input type="text" class="form-control" value="Norway" placeholder="New York, USA">
                                                    <div><i class="far fa-map-marker-alt"></i></div>
                                                </div>
                                            </div>
                                            <div class="col-12 search-input">
                                                <div class="form-group">
                                                    <label>Check In</label>
                                                    <input type="text" class="form-control date-picker" value="11/04/2021"
                                                        placeholder="MM / DD / YY">
                                                    <div><i class="far fa-calendar-alt"></i></div>
                                                </div>
                                            </div>
                                            <div class="col-12 search-input">
                                                <div class="form-group">
                                                    <label>Check Out</label>
                                                    <input type="text" class="form-control date-picker" value="15/04/2021"
                                                        placeholder="MM / DD / YY">
                                                    <div><i class="far fa-calendar-alt"></i></div>
                                                </div>
                                            </div>
                                            <div class="col-12 search-input">
                                                <div class="form-group">
                                                    <label>Travel Type</label>
                                                    <select class="select">
                                                        <option value="">Travel Type</option>
                                                        <option value="1">Adventure Tours</option>
                                                        <option value="2">City Tours</option>
                                                        <option value="3">Couple Tours</option>
                                                        <option value="4">Group Tours</option>
                                                        <option value="5" selected>Weekend Break</option>
                                                        <option value="6">Business Tours</option>
                                                    </select>
                                                    <div class="nice-select-icon"><i class="far fa-globe-europe"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-10">
                                                <button type="submit" class="search-btn"> <i class="far fa-search"></i>Find Now</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- search area end -->


                            <!-- tour-category -->
                            <div class="tour-widget">
                                <h4>Category</h4>
                                <ul>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="cat1">
                                            <label class="form-check-label" for="cat1"> Adventure Tours</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" checked type="checkbox" id="cat2">
                                            <label class="form-check-label" for="cat2"> Business Tours</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="cat3">
                                            <label class="form-check-label" for="cat3"> Group Tours</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" checked type="checkbox" id="cat4">
                                            <label class="form-check-label" for="cat4"> Couple Tours</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="cat5">
                                            <label class="form-check-label" for="cat5"> City Tours</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- tour-category end -->


                            <!-- tour-price -->
                            <div class="tour-widget">
                                <h4>Price Range</h4>
                                <div class="price-range-box">
                                    <div class="price-range-input">
                                       <input type="text" readonly id="price-amount">
                                    </div>
                                      
                                     <div class="price-range"></div>
                                </div>
                            </div>
                            <!-- tour-price end -->


                            <!-- tour-durations -->
                            <div class="tour-widget">
                                <h4>Durations</h4>
                                <ul>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" checked type="checkbox" id="dur1">
                                            <label class="form-check-label" for="dur1"> 0 - 24 Hours</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dur2">
                                            <label class="form-check-label" for="dur2"> 1 - 3 Days</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dur3">
                                            <label class="form-check-label" for="dur3"> 3 - 6 Days</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="dur4">
                                            <label class="form-check-label" for="dur4"> 6 - 9 Days</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" checked type="checkbox" id="dur5">
                                            <label class="form-check-label" for="dur5"> 9 - 10 Days</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- tour-durations end -->


                            <!-- tour-rating -->
                            <div class="tour-widget">
                                <h4>Rating</h4>
                                <ul>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="rat1">
                                            <label class="form-check-label" for="rat1"> 
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" checked type="checkbox" id="rat2">
                                            <label class="form-check-label" for="rat2">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="rat3">
                                            <label class="form-check-label" for="rat3">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="rat4">
                                            <label class="form-check-label" for="rat4">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="rat5">
                                            <label class="form-check-label" for="rat5">
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- tour-rating end -->

                            <!-- tour banner -->
                            <div class="widget-banner mt-30 mb-50">
                                <img src="/assets/img/widget/banner.jpg" alt="">
                                <div class="banner-content">
                                    <h2>Get <span>35% Off</span> On Norway Lake Tour</h2>
                                </div>
                            </div>
                            <!-- tour banner end -->

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="col-md-12">
                            <div class="tour-sort">
                                <h5>Search Results For: "Norway"</h5>
                                <div class="tour-sort-box">
                                    <select class="select">
                                        <option value="1">Sort By Default</option>
                                        <option value="5">Sort By Featured</option>
                                        <option value="2">Sort By Latest</option>
                                        <option value="3">Sort By Low Price</option>
                                        <option value="4">Sort By High Price</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="tour-item">
                                    <div class="tour-img">
                                        <span class="tour-sale">Sale</span>
                                        <img src="/assets/img/tour/1.jpg" alt="">
                                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                                    </div>
                                    <div class="tour-meta">
                                        <ul>
                                            <li><i class="far fa-clock"></i> 7D/6N</li>
                                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                                        </ul>
                                    </div>
                                    <div class="tour-info">
                                        <a href="#">
                                            <h5>Paris - All Stunning</h5>
                                        </a>
                                        <div class="tour-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span>(25 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="tour-footer">
                                        <div class="tour-price">
                                            $1,500 <small>/per person</small>
                                        </div>
                                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tour-item">
                                    <div class="tour-img">
                                        <img src="/assets/img/tour/2.jpg" alt="">
                                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                                    </div>
                                    <div class="tour-meta">
                                        <ul>
                                            <li><i class="far fa-clock"></i> 7D/6N</li>
                                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                                        </ul>
                                    </div>
                                    <div class="tour-info">
                                        <a href="#">
                                            <h5>Paris - All Stunning</h5>
                                        </a>
                                        <div class="tour-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span>(25 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="tour-footer">
                                        <div class="tour-price">
                                            $1,500 <small>/per person</small>
                                        </div>
                                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tour-item">
                                    <div class="tour-img">
                                        <img src="/assets/img/tour/3.jpg" alt="">
                                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                                    </div>
                                    <div class="tour-meta">
                                        <ul>
                                            <li><i class="far fa-clock"></i> 7D/6N</li>
                                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                                        </ul>
                                    </div>
                                    <div class="tour-info">
                                        <a href="#">
                                            <h5>Paris - All Stunning</h5>
                                        </a>
                                        <div class="tour-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span>(25 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="tour-footer">
                                        <div class="tour-price">
                                            $1,500 <small>/per person</small>
                                        </div>
                                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tour-item">
                                    <div class="tour-img">
                                        <span class="tour-sale">Sale</span>
                                        <img src="/assets/img/tour/4.jpg" alt="">
                                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                                    </div>
                                    <div class="tour-meta">
                                        <ul>
                                            <li><i class="far fa-clock"></i> 7D/6N</li>
                                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                                        </ul>
                                    </div>
                                    <div class="tour-info">
                                        <a href="#">
                                            <h5>Paris - All Stunning</h5>
                                        </a>
                                        <div class="tour-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span>(25 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="tour-footer">
                                        <div class="tour-price">
                                            $1,500 <small>/per person</small>
                                        </div>
                                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tour-item">
                                    <div class="tour-img">
                                        <img src="/assets/img/tour/5.jpg" alt="">
                                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                                    </div>
                                    <div class="tour-meta">
                                        <ul>
                                            <li><i class="far fa-clock"></i> 7D/6N</li>
                                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                                        </ul>
                                    </div>
                                    <div class="tour-info">
                                        <a href="#">
                                            <h5>Paris - All Stunning</h5>
                                        </a>
                                        <div class="tour-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span>(25 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="tour-footer">
                                        <div class="tour-price">
                                            $1,500 <small>/per person</small>
                                        </div>
                                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tour-item">
                                    <div class="tour-img">
                                        <img src="/assets/img/tour/3.jpg" alt="">
                                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                                    </div>
                                    <div class="tour-meta">
                                        <ul>
                                            <li><i class="far fa-clock"></i> 7D/6N</li>
                                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                                        </ul>
                                    </div>
                                    <div class="tour-info">
                                        <a href="#">
                                            <h5>Paris - All Stunning</h5>
                                        </a>
                                        <div class="tour-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span>(25 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="tour-footer">
                                        <div class="tour-price">
                                            $1,500 <small>/per person</small>
                                        </div>
                                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tour-item">
                                    <div class="tour-img">
                                        <img src="/assets/img/tour/2.jpg" alt="">
                                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                                    </div>
                                    <div class="tour-meta">
                                        <ul>
                                            <li><i class="far fa-clock"></i> 7D/6N</li>
                                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                                        </ul>
                                    </div>
                                    <div class="tour-info">
                                        <a href="#">
                                            <h5>Paris - All Stunning</h5>
                                        </a>
                                        <div class="tour-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span>(25 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="tour-footer">
                                        <div class="tour-price">
                                            $1,500 <small>/per person</small>
                                        </div>
                                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tour-item">
                                    <div class="tour-img">
                                        <img src="/assets/img/tour/6.jpg" alt="">
                                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                                    </div>
                                    <div class="tour-meta">
                                        <ul>
                                            <li><i class="far fa-clock"></i> 7D/6N</li>
                                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                                        </ul>
                                    </div>
                                    <div class="tour-info">
                                        <a href="#">
                                            <h5>Paris - All Stunning</h5>
                                        </a>
                                        <div class="tour-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <span>(25 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="tour-footer">
                                        <div class="tour-price">
                                            $1,500 <small>/per person</small>
                                        </div>
                                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- pagination -->
                        <div class="pagination-area">
                            <div aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true"><i class="far fa-arrow-left"></i></span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true"><i class="far fa-arrow-right"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- tour area end -->
