@await Component.InvokeAsync("HeroSection")
<div class="tour-area tour-area-offer py-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-4">
                <div class="tour-item">
                    <div class="tour-img">
                        <div class="tour-offer-percentage">
                            <h6>25%</h6>
                            <span>Off</span>
                        </div>

                        <img src="/assets/img/tour/1.jpg" alt="">
                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="tour-meta">
                        <ul>
                            <li><i class="far fa-clock"></i> 7D/6N</li>
                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                        </ul>
                    </div>
                    <div class="tour-info">
                        <div class="tour-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(25 Reviews)</span>
                        </div>
                        <a href="#">
                            <h5>Paris - All Stunning</h5>
                        </a>
                        <div class="tour-price">
                            <del>$1,500</del> $1,000 <small>/per person</small>
                        </div>
                    </div>
                    <div class="tour-footer">
                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tour-item">
                    <div class="tour-img">
                        <div class="tour-offer-percentage">
                            <h6>25%</h6>
                            <span>Off</span>
                        </div>

                        <img src="/assets/img/tour/2.jpg" alt="">
                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="tour-meta">
                        <ul>
                            <li><i class="far fa-clock"></i> 7D/6N</li>
                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                        </ul>
                    </div>
                    <div class="tour-info">
                        <div class="tour-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(25 Reviews)</span>
                        </div>
                        <a href="#">
                            <h5>Paris - All Stunning</h5>
                        </a>
                        <div class="tour-price">
                            <del>$1,500</del> $1,000 <small>/per person</small>
                        </div>
                    </div>
                    <div class="tour-footer">
                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tour-item">
                    <div class="tour-img">
                        <div class="tour-offer-percentage">
                            <h6>25%</h6>
                            <span>Off</span>
                        </div>

                        <img src="/assets/img/tour/3.jpg" alt="">
                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="tour-meta">
                        <ul>
                            <li><i class="far fa-clock"></i> 7D/6N</li>
                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                        </ul>
                    </div>
                    <div class="tour-info">
                        <div class="tour-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(25 Reviews)</span>
                        </div>
                        <a href="#">
                            <h5>Paris - All Stunning</h5>
                        </a>
                        <div class="tour-price">
                            <del>$1,500</del> $1,000 <small>/per person</small>
                        </div>
                    </div>
                    <div class="tour-footer">
                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tour-item">
                    <div class="tour-img">
                        <div class="tour-offer-percentage">
                            <h6>25%</h6>
                            <span>Off</span>
                        </div>

                        <img src="/assets/img/tour/4.jpg" alt="">
                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="tour-meta">
                        <ul>
                            <li><i class="far fa-clock"></i> 7D/6N</li>
                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                        </ul>
                    </div>
                    <div class="tour-info">
                        <div class="tour-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(25 Reviews)</span>
                        </div>
                        <a href="#">
                            <h5>Paris - All Stunning</h5>
                        </a>
                        <div class="tour-price">
                            <del>$1,500</del> $1,000 <small>/per person</small>
                        </div>
                    </div>
                    <div class="tour-footer">
                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tour-item">
                    <div class="tour-img">
                        <div class="tour-offer-percentage">
                            <h6>25%</h6>
                            <span>Off</span>
                        </div>

                        <img src="/assets/img/tour/5.jpg" alt="">
                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="tour-meta">
                        <ul>
                            <li><i class="far fa-clock"></i> 7D/6N</li>
                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                        </ul>
                    </div>
                    <div class="tour-info">
                        <div class="tour-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(25 Reviews)</span>
                        </div>
                        <a href="#">
                            <h5>Paris - All Stunning</h5>
                        </a>
                        <div class="tour-price">
                            <del>$1,500</del> $1,000 <small>/per person</small>
                        </div>
                    </div>
                    <div class="tour-footer">
                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tour-item">
                    <div class="tour-img">
                        <div class="tour-offer-percentage">
                            <h6>25%</h6>
                            <span>Off</span>
                        </div>

                        <img src="/assets/img/tour/6.jpg" alt="">
                        <a href="#" class="tour-wish"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="tour-meta">
                        <ul>
                            <li><i class="far fa-clock"></i> 7D/6N</li>
                            <li><i class="far fa-user-friends"></i> 7 Person</li>
                            <li><i class="far fa-map-marker-alt"></i> Paris</li>
                        </ul>
                    </div>
                    <div class="tour-info">
                        <div class="tour-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(25 Reviews)</span>
                        </div>
                        <a href="#">
                            <h5>Paris - All Stunning</h5>
                        </a>
                        <div class="tour-price">
                            <del>$1,500</del> $1,000 <small>/per person</small>
                        </div>
                    </div>
                    <div class="tour-footer">
                        <a href="#" class="tour-btn">Book Now <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>