@model List<TourTravel.ViewModel.FeaturedTourDto>

<div class="widget">
    <h4 class="widget-title">Featured Tours</h4>

    <div class="featured-tour">

        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="featured-tour-content">
                    <img src="@item.PackageImage" alt="@item.Name" />

                    <div class="featured-tour-info">
                        <h6 class="featured-tour-price">₹@item.BasePrice</h6>

                        <h5>
                            <a href="/Tours/TourPackageDetails/@item.Id" class="featured-tour-title">
                                @item.Name
                            </a>
                        </h5>

                        <span>
                            <i class="far fa-clock"></i>
                            @item.Duration
                        </span>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No featured tours available.</p>
        }

    </div>
</div>
