<div class="widget">
    <h4 class="widget-title">Featured Tours</h4>
    <div class="featured-tour">
        <div class="featured-tour-content">
            <img src="/assets/img/destination/7.jpg" alt="">
            <div class="featured-tour-info">
                <h6 class="featured-tour-price">$1,500</h6>
                <h5><a href="#" class="featured-tour-title">Singapore Holidays</a></h5>
                <span><i class="far fa-clock"></i> 4 Days/3 Nights</span>
            </div>
        </div>
        <div class="featured-tour-content">
            <img src="/assets/img/destination/8.jpg" alt="">
            <div class="featured-tour-info">
                <h6 class="featured-tour-price">$1,500</h6>
                <h5><a href="#" class="featured-tour-title">Singapore Holidays</a></h5>
                <span><i class="far fa-clock"></i> 4 Days/3 Nights</span>
            </div>
        </div>
        <div class="featured-tour-content">
            <img src="/assets/img/destination/9.jpg" alt="">
            <div class="featured-tour-info">
                <h6 class="featured-tour-price">$1,500</h6>
                <h5><a href="#" class="featured-tour-title">Singapore Holidays</a></h5>
                <span><i class="far fa-clock"></i> 4 Days/3 Nights</span>
            </div>
        </div>
    </div>
</div>