 <!-- footer area -->
<footer class="footer-area pt-100">
    <div class="footer-widget">
        <div class="container">
            <div class="row footer-widget-wrapper pb-50">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box about-us">
                        <a href="#" class="footer-logo">
                            <img src="assets/img/logo/logo.png" alt="">
                        </a>
                        <p class="mb-20">
                            There are many variations of the passages available the majority have suffered
                            alteration in
                            some form by injected humour.
                        </p>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Quick Links</h4>
                        <ul class="footer-list">
                            <li><a asp-controller="Pages" asp-action="AboutUs">About Us</a></li>
                            <li><a asp-controller="Pages" asp-action="Faq">FAQ's</a></li>
                            <li><a asp-controller="Pages" asp-action="TermsOfService">Terms Of Service</a></li>
                            <li><a asp-controller="Pages" asp-action="PrivacyPolicy">Privacy policy</a></li>
                            <li><a asp-controller="Pages" asp-action="TermsOfService">Our Services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box">
                        <h4 class="footer-widget-title">Contact Us</h4>
                        <ul class="footer-contact">
                            <li><i class="far fa-map-marker-alt"></i>15/B Road, New York, USA</li>
                            <li><a href="tel:+21234566789"><i class="far fa-phone"></i>+2 123 4566 789</a></li>
                            <li>
                                <a href="mailto:info@example.com">
                                    <i class="far fa-envelope"></i>info@example.com
                                </a>
                            </li>
                            <li><i class="far fa-clock"></i>Sun - Fri (10AM - 08PM)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Newsletter</h4>
                        <div class="footer-newsletter">
                            <p>Subscribe Our Newsletter To Get Latest Update And News</p>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="email" class="form-control" placeholder="Your Email">
                                    <button class="theme-btn" type="submit">
                                        <i class="far fa-paper-plane"></i> Subscribe Now
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <ul class="footer-menu">
                        <li><a href="#">Home</a></li>
                        <li><a asp-controller="Pages" asp-action="AboutUs">About</a></li>
                        <li><a asp-controller="Tours" asp-action="Index">Tours</a></li>
                        <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                        <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 align-self-center">
                    <p class="copyright-text">
                        &copy; Copyright <span id="date"></span> <a href="#"> Travelox </a> All
                        Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->