    <!-- header area -->
<header class="header">

    <!-- top-header -->
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="top-header-left">
                        <div class="top-contact-info">
                            <ul>
                                <li><a href="tel:+21234567897"><i class="fas fa-phone"></i>+2 123 4567 897</a></li>
                                <li>
                                    <a href="mailto:info@example.com">
                                        <i class="fas fa-envelope"></i>info@example.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="top-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="top-header-right">
                        <div class="lang">
                            <select name="lang" class="select">
                                <option value="1">ENG</option>
                                <option value="2">RUS</option>
                                <option value="3">ROM</option>
                                <option value="4">FRA</option>
                                <option value="5">ESP</option>
                                <option value="6">POR</option>
                            </select>
                        </div>
                        <div class="currency">
                            <select name="currency" class="select">
                                <option value="1">USD</option>
                                <option value="2">EUR</option>
                                <option value="3">AUD</option>
                                <option value="4">BRL</option>
                                <option value="5">CAD</option>
                                <option value="6">MXN</option>
                            </select>
                        </div>
                        <div class="account">
                            <a href="#"><i class="far fa-sign-in"></i>Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- main nav -->
    <div class="main-navigation">
        <nav class="navbar navbar-expand-lg">
            <div class="container g-0">
                <a class="navbar-brand" href="index.html">
                    <img src="/assets/img/logo/logo.png" class="logo-display" alt="thumb">
                    <img src="/assets/img/logo/logo-dark.png" class="logo-scrolled" alt="thumb">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="far fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Home" asp-action="Index" >Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " asp-controller="Destinations" asp-action="Index" >Destinations</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown">
                                Tours
                            </a>
                            <ul class="dropdown-menu fade-up">
                                <li><a class="dropdown-item" asp-controller="Tours" asp-action="Index">Tour Package</a></li>
                                <li><a class="dropdown-item" asp-controller="Tours" asp-action="TourPackageDetails">Tour Package Details</a></li>
                                <li><a class="dropdown-item" asp-controller="Tours" asp-action="TourPackageSearch">Tour Package Search</a></li>
                                <li><a class="dropdown-item" asp-controller="Tours" asp-action="TourPackageOffer">Tour Package Offer</a></li>
                                <li><a class="dropdown-item" asp-controller="Tours" asp-action="TourPackageBookings">Tour Package Booking</a></li>
                                <li><a class="dropdown-item" asp-controller="Tours" asp-action="TourPackageCart">Tour Package Cart</a></li>
                                <li><a class="dropdown-item" asp-controller="Tours" asp-action="TourPackageConfirm">Tour Package Confirm</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Pages</a>
                            <ul class="dropdown-menu fade-up">
                                <li><a class="dropdown-item" asp-controller="Pages" asp-action="AboutUs">About Us</a></li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Team</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Pages" asp-action="Team" >Team</a></li>
                                        <li><a class="dropdown-item" asp-controller="Pages" asp-action="TeamDetails">Team Single</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Tour Guide</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Pages" asp-action="Guide">Tour Guide</a></li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Pages" asp-action="GuideDetails">Tour Guide Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" asp-controller="Pages" asp-action="Testimonials">Testimonials</a></li>
                                <li><a class="dropdown-item" asp-controller="Pages" asp-action="Gallery">Gallery</a></li>
                                <li><a class="dropdown-item" asp-controller="Pages" asp-action="Faq">Faq</a></li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Account Page</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Pages" asp-action="Login">Login</a></li>
                                        <li><a class="dropdown-item" asp-controller="Pages" asp-action="Register">Register</a></li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Pages" asp-action="ForgotPassword">Forgot Password</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="404.html">404 Error</a></li>
                                <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>
                                <li><a class="dropdown-item" asp-controller="Pages" asp-action="TermsOfService">Terms Of Service</a></li>
                                <li><a class="dropdown-item" asp-controller="Pages" asp-action="PrivacyPolicy">Privacy Policy</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown">Blog</a>
                            <ul class="dropdown-menu fade-up">
                                <li><a class="dropdown-item" asp-controller="Blog" asp-action="Index">Blog</a></li>
                                <li><a class="dropdown-item" asp-controller="Blog" asp-action="SingleBlog">Blog Single</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a></li>
                    </ul>
                    <div class="header-btn">
                        <a href="#" class="theme-btn">BOOK NOW <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- header area end -->
