<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="search-form-wrapper">
            <form action="#">
                <div class="row align-items-end">
                    <div class="col-md-6 col-lg-3 search-input">
                        <div class="form-group">
                            <label>Destination</label>
                            <input type="text" class="form-control" placeholder="New York, USA">
                            <div><i class="far fa-map-marker-alt"></i></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 search-input">
                        <div class="form-group">
                            <label>Check In</label>
                            <input type="text" class="form-control date-picker" placeholder="MM / DD / YY">
                            <div><i class="far fa-calendar-alt"></i></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 search-input">
                        <div class="form-group">
                            <label>Check Out</label>
                            <input type="text" class="form-control date-picker" placeholder="MM / DD / YY">
                            <div><i class="far fa-calendar-alt"></i></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 search-input">
                        <div class="form-group">
                            <label>Travel Type</label>
                            <select class="select">
                                <option value="">Travel Type</option>
                                <option value="1">Adventure Tours</option>
                                <option value="2">City Tours</option>
                                <option value="3">Couple Tours</option>
                                <option value="4">Group Tours</option>
                                <option value="5">Weekend Break</option>
                                <option value="6">Business Tours</option>
                            </select>
                            <div class="nice-select-icon"><i class="far fa-globe-europe"></i></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 search-input">
                        <button type="submit" class="search-btn">
                            <i class="far fa-search"></i> Find
                            Now
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- search area end -->