 <!-- breadcrumb -->
<div class="site-breadcrumb" style="background: url(/assets/img/bg/breadcrumb.jpg)">
	<div class="container">
		<h2 class="breadcrumb-title">@ViewBag.Title</h2>
		<ul class="breadcrumb-menu">
			<li><a asp-controller="Home" asp-action="Index">Home</a></li>
			<li class="active">@ViewBag.Page</li>
		</ul>
	</div>
</div>

