@model TourTravel.ViewModel.TermOfServiceViewModel
<!-- terms of service -->
<div class="py-120">
    <div class="container">
        <div class="row">
            <div class="col">
                @foreach(var item in Model.TermsOfServices)
                {
                    <div class="terms-content">
                        <h3>@item.Title</h3>
                        <p>
                            @Html.Raw(item.Description)
                        </p>
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>
<!-- terms of service end -->