<!-- coming soon -->
<div class="coming-soon pt-120 pb-90" style="background: url('assets/img/bg/coming-soon.jpg');">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-9 col-lg-7">
                <div class="coming-soon-content text-white text-center">
                    <h1 class="text-white">We're Coming Soon</h1>
                    <p class="lead">
                        Our website is under construction. We'll be here soon with our new awesome site,
                        subscribe to be notified.
                    </p>
                    <div id="countdown" class="countdown-wrap my-4"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 col-lg-5">
                <form class="newsletter-form position-relative">
                    <input type="text" class="input-newsletter form-control" placeholder="Enter your email"
                           name="email" required="" autocomplete="off">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="coming-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</div>
<!-- coming soon end -->