@model List<TourTravel.Models.Gallery>
@await Component.InvokeAsync("HeroSection")
<!-- gallery area -->
<div class="gallery-area py-120">
    <div class="container">
        <div class="row popup-gallery" data-masonry='{"percentPosition": true }'>
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="gallery-item">
                        <img src=@item.ImageUrl alt="">
                        <a class="popup-img" ><i class="far fa-plus"></i></a>
                    </div>
                </div>
            }        
        </div>
        <div class="text-center mt-5">
            <a href="#" class="theme-btn">Load More <i class="far fa-sync"></i></a>
        </div>
    </div>
</div>
<!-- gallery area end -->