@await Component.InvokeAsync("HeroSection")
<!-- team single -->
<div class="team-single pt-120 pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="team-single-img">
                    <img src="~/assets/img/team/single.jpg" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="team-details">
                    <h3>Marie R Lippert</h3>
                    <p class="mb-3 team-tagline"><strong>Tour Guide</strong></p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters packages and web page editors now usepackages and web page editors now use.</p>
                    <div class="team-details-info">
                        <ul>
                            <li><a href="#"><i class="far fa-envelope"></i> marie@example.com</a></li>
                            <li><a href="#"><i class="far fa-phone"></i> +2 123 456 7892</a></li>
                        </ul>
                    </div>
                    <div class="team-details-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team single end -->
<!-- biography & skill -->
<div class="biography-skill pb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-3">
                <div class="biography">
                    <h4 class="mb-3">Biography</h4>
                    <p class="mb-10">
                        Sed ut perspiciatis unde omnis totam rem chitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    </p>
                    <p class="mb-10">
                        All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="biography-img">
                    <img src="~/assets/img/team/bio.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- biography & skill end -->