@await Component.InvokeAsync("HeroSection")
<!-- team single -->
<div class="team-single pt-120 pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="team-single-img">
                    <img src="~/assets/img/team/single.jpg" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="team-details">
                    <h3>Marie R Lippert</h3>
                    <p class="mb-3 team-tagline"><strong>Tour Manager</strong></p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters packages and web page editors now usepackages and web page editors now use.</p>
                    <div class="team-details-info">
                        <ul>
                            <li><a href="#"><i class="far fa-envelope"></i> marie@example.com</a></li>
                            <li><a href="#"><i class="far fa-phone"></i> +2 123 456 7892</a></li>
                        </ul>
                    </div>
                    <div class="team-details-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team single end -->